<div class="container">
  <h1>
    Challenges list
  </h1>
</div>
<div class="justify-content-center text-align-center">
  <%= link_to "Create a new challenge", new_challenge_path , class: "btn btn-gradient" %>
</div>

<div class="row no-gutters justify-content-center">
  <% @challenges.each do |challenge| %>
  <div class="card card-margin" style="width: 18rem;">
    <%= image_tag challenge.gif, class: "ard-img-top gif"%>
    <div class="card-body">
      <h5 class="card-title"><%= challenge.name %></h5>
      <p class="card-text"><%= challenge.description.truncate(60) %></p>
      <div class="below">
        <div class="d-flex flex-column justify-content-center">
         <% if challenge.user.photo.blank? %>
            <%= cl_image_tag challenge.user.image, class: 'avatar', title: challenge.user.first_name  %>
          <% else %>
            <%= cl_image_tag challenge.user.photo, class: 'avatar', title: challenge.user.first_name %>
          <% end %>
        </div>
        <div>
          <%= link_to "See details", challenge_path(challenge), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
