<h1>
  Challenges list 🚀
</h1>

<% @challenges.each do |challenge| %>
<!--   <div class="row">
    <div class=" col-12 col-lg-4"> -->
      <div class="card-product">
        <%= image_tag challenge.gif %>
        <div class="card-product-infos">
          <h2><%= challenge.name %></h2>
          <p><%= challenge.description %></p>
          <p><%= challenge.reward %></p>
          <%= link_to "Delete", challenge_path(challenge),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </div>
        <%= cl_image_tag challenge.user.photo, class: "avatar"%>
<!--       </div>
    </div> -->
  </div>
<% end %>
<%= link_to "Create a new challenge", new_challenge_path , class: "btn btn-gradient" %>
