<div class="container">
  <%= link_to "Back to all challenges", challenges_path, class: "btn btn-outline-secondary margin-top-10" %>

  <h1>Create a new challenge</h1>

  <%= simple_form_for(@challenge) do |f| %>

    <div class="form-group">
      <%= f.input :name, class: 'form-control', label: 'Challenge name', required: true, maxlength: 25 %>
    </div>

    <div class="form-group">
      <%= f.input :description, hint: "Be as precise as possible", class: 'form-control', required: true, id: "body-field" %>
    </div>

    <div class="form-group">
      <%= f.input :completion_date, hint: "Date when your challenge will be completed", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.input :theme, as: :string, class: 'form-control', hint: "1 or 2 words to describe your challenge", required: true %>
    </div>

    <div class="form-group">
      <%= f.input :reward, hint: "What are we gonna win or loose ? Money, fame, glory, death ...", class: 'form-control', required: true %>
    </div>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>


