<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex flex-nowrap align-items-start">
  <div class="">
    <%= link_to root_path do %>
       <%= image_tag "profile.png", class: "logo" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse show" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo, alt:"menu", class: "avatar dropdown-toggle flex-end", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': true %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Edit my profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
